<div id="menu">
    <a class="icon" href="/orchestra/">
        <div class="hoverBtn celli">
            <div class="text">ORCHESTRA</div>
        </div>
    </a>
    <a class="icon" href="/conductor/1">
        <div class="hoverBtn rk">
            <div class="text">CONDUCTOR</div>
        </div>
    </a>
    <a class="icon" href="/season/">
        <div class="hoverBtn sjss">
            <div class="text">CONCERT SCHEDULE</div>
        </div>
    </a>
    <a class="icon" href="/">
        <div class="hoverBtn horns">
            <div class="text">MEMBERSHIP</div>
        </div>
    </a>
    <a class="icon" href="/">
        <div class="hoverBtn everyman">
            <div class="text">RECORDINGS</div>
        </div>
    </a>
    <a class="icon" href="/">
        <div class="hoverBtn reception">
            <div class="text">SUPPORT KAO</div>
        </div>
    </a>
</div>
